@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

:root {
    --primary: #00b4bd;
    --secondary: #258e93;
    --white: #fff;
    --black: #111;
}


body {
    margin: 0;
    padding: 0 !important;
    font-family: 'Cabin', sans-serif;
    scroll-behavior: smooth;
    overflow: inherit !important;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="date"], textarea, select {
    background: none;
    border: solid 1px #eee;
    color: #444;
    font-size: 15px;
    line-height: normal;
    margin: 0 0 12px;
    padding: 13px 20px;
    width: 100%;
    outline: 0;
    border-radius: 20px;
    font-family: 'Cabin', sans-serif;
}

select, input[type="date"] {
    padding: 14px 17px;
}

input[type="submit"] {
    color: var(--white);
    background: var(--primary);
    text-transform: uppercase;
    border: none;
    padding: 9px 25px;
    font-size: 14px;
    border: 0;
    letter-spacing: 0.8px;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    border-radius: 20px;
    font-family: 'Cabin', sans-serif;
}

input[type="submit"]:hover {
    background: var(--secondary);
    color: var(--white);
    transition: 0.8s;
}

textarea {
    height: 100px;
    margin-bottom: 5px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px 0;
    color: #050A15;
    font-weight: 500;
    text-transform: inherit;
    line-height: normal;
}

h1 {
    font-size: 28px
}

h2 {
    font-size: 24px
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

p {
    padding: 0;
    margin: 0 0 10px 0;
    font-family: 'Cabin', sans-serif;
    color: #333;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
}

ul, li, a {
    list-style-type: none;
    font-family: 'Cabin', sans-serif;
    color: #222;
    line-height: 24px;
    font-size: 14px;
}

a:hover {
    transition: 0.8s;
    text-decoration: none;
}

.heading, .leftheading {
    padding-bottom: 20px;
    margin-bottom: 35px;
    font-size: 36px;
    position: relative;
    font-weight: 700;
    background: url(../images/heading.png)no-repeat center bottom;
    background-size: 80px;
}

.leftheading span, .heading span {
    font-family: 'Cabin', sans-serif;
    display: block;
    color: var(--primary);
    font-weight: normal;
    font-size: 32px;
}

.heading {
    text-align: center;
}

.subheading {
    width: 80%;
    margin: 0 auto 30px;
    text-align: center;
    font-size: 17px;
    color: #121212;
    font-family: 'Cabin', sans-serif;
}

.zoomeffect {
    overflow: hidden;
    position: relative;
}

.zoomeffect img {
    transition: transform 0.8s ease-in-out;
}

.zoomeffect:hover img {
    transform: scale(1.1);
}

/* TOPBAR SECTION CSS */

.topbar {
    background: var(--primary);
    padding: 6px 0;
}

.topbar .row {
    align-items: center;
}

.topbar .col-sm-9 {
    display: flex;
    align-items: center;
}

.topbar p {
    margin: 0;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #ffffff82;
}

.topbar p:last-child {
    padding: 0;
    margin: 0;
    border: none;
}

.topbar p, .topbar p a, .smoicons ul li a {
    color: var(--white);
}

.topbar p i {
    margin-right: 7px;
    color: var(--primary);
    background: var(--white);
    border-radius: 50%;
    height: 28px;
    width: 28px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.smoicons ul {
    display: flex;
    align-items: center;
    column-gap: 23px;
    justify-content: end;
}

.smoicons ul li, .smoicons ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

/* HEADER SECTION CSS */


header.fixed {
    box-shadow: 0 2px 12px #0000001a;
}

header a img {
    width: 330px;
    height: auto;
}

header .row {
    align-items: center;
}

.menucontainer {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.menucontainer ul li {
    display: inline-block;
    position: relative;
}

.menucontainer ul li a {
    display: inline-block;
    font-size: 14px;
    color: var(--dark);
    padding: 38px 21px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    letter-spacing: .5px;
}

.menucontainer ul li:last-child a {
    padding-right: 0;
}

.menucontainer ul li:first-child a, .menucontainer ul li a:hover {
    color: var(--primary);
}


/* SLIDER SECTION CSS */


.mainslider {
    position: relative;
}

.mainslider img {
    width: 100%;
    height: 580px;
    object-fit: cover;
    filter: brightness(.5);
}

.mainslider .carousel-caption {
    top: 50%;
    left: 0;
    right: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}

.mainslider h1, .mainslider p {
    color: var(--white);
}

.mainslider h1 {
    font-size: 52px;
    line-height: 66px;
    font-weight: 700;
    letter-spacing: .5px;
    opacity: 0;
    animation: lts .5s ease-in-out .3s forwards;
    margin-bottom: 35px;
}

.mainslider h1 strong {
    display: block;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

@keyframes lts {
    0% {
        transform: translateX(-150px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.mainslider .btn-primary {
    opacity: 0;
    animation: lts .5s ease-in-out 1.2s forwards;
}

span.typed {
    color: var(--primary);
}

span.typed::after {
    content: "|";
    display: inline-block;
    animation: blink 0.7s infinite;
    color: var(--primary);
    transform: translateY(-3px);
}

.typed-cursor {
    opacity: 0;
    display: none;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



/* HOMEABOUT SECTION CSS */


.homeabout {
    padding: 60px 0;
    overflow: hidden;
}

.homeabout .row {
    display: flex;
    align-items: center;
}

.homeabout figure img {
    width: 100%;
    height: auto;
}

.about-content {
    padding-left: 30px;
    border-left: 2px dashed #ececec;
}

.about-content strong {
    display: block;
    margin-bottom: 12px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--primary);
    font-weight: 500;
    position: relative;
    padding-left: 12px;
}

.about-content strong:before {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 30px;
    height: 30px;
    background: #00b4bd1a;
    border-radius: 50%;
}

.about-content p {
    text-align: justify;
}

.about-content h2 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 15px;
    line-height: 40px;
}

.about-content .btn-primary {
    margin-top: 10px;
}

/* HOME SERVICES SECTION */

.homeservices {
    padding: 55px 0 60px;
    background: url(../images/services-bg.jpg)no-repeat center center/cover;
    background-attachment: fixed;
}

.homeservices .row {
    row-gap: 23px;
}

.services-item {
    box-shadow: 0px 0px 22px rgb(0 0 0 / 10%);
    padding: 35px 20px;
    text-align: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    background: var(--white);
}

.services-item:after {
    position: absolute;
    content: '';
    top: -80px;
    right: -80px;
    height: 150px;
    width: 150px;
    background: var(--primary);
    border-radius: 50%;
    opacity: .15;
    transition: .5s;
    z-index: -1;
}

.services-item:hover:after {
    width: 100%;
    height: 100%;
    right: auto;
    top: 0;
    left: 0;
    bottom: auto;
    border-radius: 0;
    opacity: 1;
}

.services .col-sm-4:nth-child(even) .services-item:after {
    left: -80px;
    bottom: -80px;
    right: auto;
    top: auto;
}

.services .col-sm-4:nth-child(even) .services-item:hover:after {
    right: 0;
    bottom: 0;
    left: auto;
    top: auto;
}

.services-item figure {
    height: 110px;
    width: 110px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed var(--secondary);
    border-radius: 50%;
    transition: .5s;
}

.services-item:hover figure {
    background: var(--white);
    border-color: transparent;
    box-shadow: 3px 3px 0px #0000001a;
}

.services-item h3 {
    margin: 20px 0 10px;
    transition: .5s;
    font-weight: 700;
    font-size: 20px;
}

.services-item p {
    margin-bottom: 20px;
    transition: .5s;
}

.services-item:hover h3, .services-item:hover p {
    color: var(--white);
}

.services-item:hover a.btn {
    background: var(--white);
    color: var(--primary);
}




/* PORTFOLIO SECTION CSS */

.portfolio {
    padding: 50px 0;
}

.portfolio .row {
    row-gap: 23px;
}

.portfolio .button {
    display: inline-block;
    padding: 7px 22px;
    background: transparent;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid var(--primary);
    margin: 0 4px;
    transition: 0.3s;
    border-radius: 2px;
}

.portfolio .button:hover {
    background: linear-gradient(to right, var(--primary), var(--secondary));
    color: var(--white);
    border-color: transparent;
}

.portfolio .button:active, .portfolio .button.is-checked {
    background: linear-gradient(to right, var(--primary), var(--secondary));
    color: var(--white);
    outline: none;
    position: relative;
    border-color: transparent;
}

.portfolio .button-group {
    margin: 0 0 20px;
    text-align: center;
}

.portfolio .button-group:after {
    content: '';
    display: block;
    clear: both;
}

.portfolioitem img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
    transition: .5s;
}

.portfolioitem {
    padding: 3px;
    background: #00b4bd;
    position: relative;
    margin: 11px 0;
}

.portfolioitem a.projectlink {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--white);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--primary);
    opacity: 0;
}

.portfolioitem:hover img {
    object-position: bottom;
    filter: brightness(0.4);
}

.portfolioitem:hover a.projectlink {
    opacity: 1;
}

/* HOME REVIEW SECTION CSS */


.reviews {
    padding: 50px 0 60px;
    background: #fafaff;
}

.reviews .slick-track {
    padding: 12px 0;
}

.reviewslist {
    background: var(--white);
    border-radius: 8px;
    padding: 35px 30px 60px 30px;
    position: relative;
    box-shadow: 0 0 12px #0000001a;
}

.reviewlist-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    column-gap: 14px
}

.reviews img {
    height: 65px !important;
    border-radius: 50%;
}

.reviewslist h5 {
    margin: 0;
    font-weight: 600
}

.reviewslist h5 span {
    display: block;
    font-size: 15px;
    margin-top: 4px;
    font-weight: 500;
    color: var(--primary)
}

.reviewslist .rating i {
    color: #ff8e2d;
    font-size: 14px
}

.reviewslist p {
    font-style: italic;
    font-size: 18px;
    letter-spacing: .5px;
    line-height: 29px;
    font-weight: 400;
    margin: 0;
    color: #818181;
    text-align: justify;
}

.reviewslist i.fas.fa-quote-left {
    position: absolute;
    bottom: 18px;
    right: 18px;
    font-size: 64px;
    color: var(--primary);
    opacity: .1
}

.rating {
    margin: 18px 0
}


/* FOOTER SECTION CSS */

footer {
    background: #090a13;
    padding: 60px 0 0;
}

.footerdtls {
    background: linear-gradient(90deg, #00b4bd12, transparent);
    padding: 30px 30px 30px 98px;
    border-radius: 12px;
    position: relative;
}

.footerdtls i {
    position: absolute;
    left: 30px;
    height: 55px;
    width: 55px;
    background: var(--primary);
    color: var(--primary);
    font-size: 22px;
    color: transparent;
    -webkit-text-stroke: 1px var(--white);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 0 #00000012;
}

.footerdtls h4 {
    font-weight: 700;
    margin-bottom: 7px;
}

.footerdtls h4, .footerdtls a {
    color: var(--white);
}

footer .col-sm-6 {
    text-align: center;
    border-right: 1px dashed #00b4bd38;
    border-left: 1px dashed #00b4bd38;
    padding: 10px 40px;
}

footer figure img {
    width: 330px;
}

footer .col-sm-3:nth-child(3) {
    padding-left: 55px;
}

footer ul li.menu-item:first-child a {
    margin-top: 0;
}

footer ul li.menu-item a {
    display: inline-block;
    position: relative;
    padding-left: 18px;
    margin: 5px 0;
}

footer ul li.menu-item a:hover, footer ul li a:hover {
    color: var(--primary);
}

footer ul li.menu-item a:before {
    position: absolute;
    content: '\f061';
    top: 0;
    font-family: 'Font Awesome 5 Free';
    left: 0;
    font-weight: 600;
    color: var(--primary);
    font-size: 12px;
}

footer ul li.menu-item a:hover {
    color: var(--secondary);
}

footer h3 {
    color: var(--white);
    font-weight: 500;
    margin-bottom: 22px;
    padding-bottom: 12px;
    position: relative;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 20px;
    text-transform: uppercase;
}

footer h3:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 60px;
    height: 2px;
    background: var(--primary);
}

footer p {
    margin: 12px 0 15px;
    color: #e1e1e1;
}

footer ul.footer-details li {
    position: relative;
    padding-left: 39px;
    margin-bottom: 8px;
    line-height: 28px;
}

footer ul.footer-details li i {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--primary);
    border: solid 1px var(--primary);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

footer ul.socialicon {
    display: flex;
    column-gap: 6px;
    justify-content: flex-end;
}

footer ul.socialicon li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: #8badf414;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    margin: 0;
}

footer .readbtn {
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--primary);
    margin-top: 15px;
    display: block;
}

footer ul.socialicon li a:hover {
    background: var(--primary);
}

footer .ftdetails li i {
    margin-right: 8px;
}

footer ul li, footer ul li a, footer p a {
    color: #e1e1e1;
}

.copyright {
    margin-top: 40px;
    padding: 20px 0;
    border-top: 1px dashed #00b4bd38;
}

.copyright .row {
    align-items: center;
}

.copyright p, .copyright p a {
    margin: 0 !important;
    color: #ddd;
    font-size: 15px;
}







#GoToTop {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 25px;
    z-index: 3;
    padding: 0;
    background: var(--primary);
    width: 45px;
    height: 45px;
    font-size: 22px;
    color: var(--white);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    box-shadow: 4px 4px 0px #00000017;
    border-radius: 0 10px;
}

#GoToTop i {
    display: block;
    transform: rotate(-45deg);
}

#whatsappbtn {
    cursor: pointer;
    position: fixed;
    bottom: 4%;
    left: 20px;
    z-index: 99999999;
    padding: 0 9px;
    background: #4fcc5d;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 32px;
    color: var(--white);
}

#whatsappbtn img {
    width: 30px;
    margin-top: 10px;
}


.breadcrumb {
    padding: 20px 0;
    margin: 0;
    background: var(--primary);
    text-align: center;
}

.breadcrumb .row {
    align-items: center;
    display: flex;
}

.breadcrumb h1 {
    margin: 0;
}

.breadcrumb p {
    margin: 10px 0;
}

.breadcrumb p, .breadcrumb span, .breadcrumb p a {
    color: #eee;
    font-weight: 500;
}

.breadcrumb p a {
    padding-right: 18px;
    margin-right: 5px;
    position: relative;
}

.breadcrumb h1 span {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--white);
    text-transform: capitalize;
    line-height: normal;
}

.breadcrumb h1 .breadcrumbs_last {
    font-size: 28px;
    margin: 0 0 15px;
    font-weight: 800;
}

.breadcrumb h1 span a {
    display: none;
}

.breadcrumb a:after {
    position: absolute;
    content: '\f101' !important;
    font-size: 10px !important;
    font-weight: 600;
    font-family: 'Font Awesome 5 Free' !important;
    color: var(--white);
    right: 0;
}

.secondary-container {
    padding: 60px 0;
}